<!DOCTYPE html>
<html>
<head>
<title>Ice Cream QRs</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<style type="text/css"> </style>
</head>

<body>

<div class="container" style="max-width:400px;margin-top:40px">
	<div class="row">
		<div class="col-md-12">

  <div class="form-group">
    <label for="numLabels">Number of Labels</label>
    <input type="email" class="form-control" id="numLabels" placeholder="eg. 20">
  </div>

  <br>

  <div class="form-group">
    <label for="displayText">Label text (leave blank if you want blank labels)</label>
    <input type="email" class="form-control" id="displayText" placeholder="eg. R-CVB-1010">
  </div>

  <button class="btn btn-default" type="submit" id="printButton">Print!</button>

 </div>
</div>
</div>
</body>

<script src = "http://www.labelwriter.com/software/dls/sdk/js/DYMO.Label.Framework.2.0.2.js" type="text/javascript" charset="UTF-8"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


{% load static %}

<script src="{% static 'qr/qr.js' %}"></script>

</html>
