<!DOCTYPE html>
<html>
<head>
<title>Ice Cream QRs</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<style type="text/css"> </style>
</head>

<style>

.trouble {
	margin-top:40px;
}

p, li {
	font-size: 11px;
}

li {
	margin-bottom: 10px
}

</style>

<body>

<div class="container" style="max-width:400px;margin-top:40px">
	<div class="row">
		<div class="col-md-12">

  <div class="form-group">
    <label for="numLabels">Number of Labels</label>
    <input type="email" class="form-control" id="numLabels" placeholder="eg. 20">
  </div>

  <br>

  <div class="form-group">
    <label for="displayText">Label text (leave blank if you want blank labels)</label>
    <input type="email" class="form-control" id="displayText" placeholder="eg. R-CVB-1010">
  </div>

  <button class="btn btn-default" type="submit" id="printButton" disabled="disabled">Print!</button>

<hr>

  <div class="trouble">
  	<h6> Troubleshooting: </h6>
  	<p> You need to run the Dymo toolbar app to make this work.</p>
  	<ul>
  		<li>Find the little <b>Dymo icon on the top toolbar</b> of your Mac. Click on it and make sure it's been "Started on port XXX", otherwise start it.</li>

  		<li>If you can't find the Dymo Service icon, open <b>/Library/Frameworks/DYMO/SDK/Dymo.DLS.Printing.Host</b> from Finder. That should give you the dymo toolbar app. Make sure it's been "started," too.</li>

  		<li>If that folder doesn't exist, make sure you have the latest version of the <a href="">dymo software installed.</a> Once you do, you should have that folder. </li>

  		<li>If you're still having problems, tell whoever is running the site!</li>

  		<hr>

  		<li> (If you are the person running the site, check the <a href=""> Dymo developers blog</a> because that's the only place they document...)</li>
  	</ul>

 </div>
</div>
</div>
</body>

<script src = "http://www.labelwriter.com/software/dls/sdk/js/DYMO.Label.Framework.2.0.2.js" type="text/javascript" charset="UTF-8"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


{% load static %}

<script src="{% static 'qr/qr.js' %}"></script>

</html>
