$light: rgba(0,0,0,0.3);
$dark: rgba(0,0,0,0.4);

div.activity.page.mini {
  background-color: white;
}

.log-header {
  color: $dark;
  border-bottom: 1px solid $dark;
  padding: 8px 0px;
  margin-top: 32px;
}

.logrow {
  display: flex;
  flex-direction: row;
  padding: 12px 0px;
  border-bottom: $section-border;
  cursor: pointer;

  span {
    line-height: 16px;
  }

  .first {
    flex: 0 auto;
    margin-right: 8px;
  }

  .second {
    flex: 1 auto;
    margin-right: 8px;
  }

  .third {
    flex: 0 auto; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .icon-img {
    width: 16px;
  }

  .title {
    margin-right: 8px;
  }

  .header {
    margin-bottom: 8px;
  }

  .detail {
    font-size: 13px;
    color: #2F2F2F;
  }

  .count {
    color: $light;
  }

  .circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 3px;
    background-color: green;
    margin-right: 4px; 
    /* width and height can be anything, as long as they're equal */
  }

  .open {
    color: $light;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.1;

  }

}