.activity {
  display: flex;
  max-width: 900px;
  width: 95%;
  flex-direction: column;

  .activity-process {
    width: 100%;
    background-color: white;

    .no {
      visibility: hidden;
      padding-left: 16px;

      a {
        border: none;
        outline: none;
        border-radius: 40px;
        padding: 6px;
        background-color: rgba(255,255,255,0.5);
        color: rgba(0,0,0,0.1);
        font-size: 14px;
        line-height: 14px;
        display: inline-block;
        height: 26px;
        width: 26px;

        i.material-icons {
          font-size: 14px;
          vertical-align: middle;
        }
      }
    }

    &.expanded {
      .no, .no a i {
        visibility: visible;
        color: $primary;
      }
    }

    .activity-process-row {
      display: flex;
      flex-direction: row;
      vertical-align: middle;
      color: rgba(0,0,0,0.62);
      cursor: pointer;

      .no {
        flex: 0;
      }

      // a div is a column in the thing
      div {
        vertical-align: middle;
        flex: 3;
        text-align: right;

        span {
          display: inline-block;
          line-height: 32px;
          vertical-align: middle;

        }
      }

      div.min {
        flex: 0;
        flex-basis: 32px;
        width: 32px;
        height: 32px;
        margin-right: 8px;
        text-align: center;
      }

      div.process-name {
        font-weight: bold;
        color: rgba(0,0,0,0.7);
        text-align: left;
        flex: 2;
      }

      img {
        width: 16px;
      }

      .tiny {
        flex: 2;
      }
    }

    &.expanded {
      background-color: rgba(0,0,0,0.03);
      border-radius: 4px;
      border: none;
      overflow: hidden;

      .activity-process-header {
        background-color: $primary;
        color: white;

        div.process-name {
          color: white;
        }
      }

    }

    .activity-process-header {
      //border-top: 1px solid rgba(0,0,0,0.05);
      border-top: 1px solid rgba(0,0,0,0.05);
    }

    .process-origin-header, .process-origin-header>div:first-child {
      color: rgba(0,0,0,0.8);
    }

    .process-origin-header {
      padding: 6px 16px;
    }

    .process-origin-task {
      padding: 4px 16px;

      a:hover {
        color: primary;
      }
    }

    .expanded-origin {
      background-color: rgba(0,0,0,0.03);

      &>div:last-child {
        padding-bottom: 12px;
      }

      .task-list div>span {
        color: rgba(0,0,0,0.4);
      }
    }
  }

  .arrow {
    vertical-align: middle;
    font-size: 16px;
    line-height: 16px;
  }

  .min {
    border-radius: 20px;

    &.img {
      background-color: white;
    }

    img, span {
      vertical-align: middle;
      display: inline-block;
    } 

    img {
          margin: 8px auto;
    }
  }

  .dates {
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.1);
  }
}

