.dialog-shim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 1000;
}

.dialog-box {
  margin: 0 auto;
  margin-top: 200px;
  background-color: white;
  max-width: 400px;
  min-width: 400px;
  padding: 16px;
  border-radius: 4px;


  .dialog-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    display: block;
  }

  .dialog-text {
    display: block;
    margin: 16px 0px;
  }

  .dialog-button {
    border: none;
    outline: none;
    background-color: $primary;
    margin-left: 16px;
    color: white;
    font-size: 14px;
    border-radius: 2px;
    padding: 8px 12px;
  }

  .dialog-cancel {
    color: $primary;
    background-color: white;
  }

  .dialog-actions {
    border-top: 1px solid rgba(0,0,0,0.1);
    margin: 16px -16px;
    margin-bottom: -16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}