.inventory {
  display: flex;

  .inventory-list {
    flex: 1;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 40px;

    h2 {
      font-size: 20px;
    }

    &.smallDetail {
      max-height: 100vh;
      overflow: scroll;
    }
  }

  .inventory-detail {
    flex: 0 0 20em;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    min-height: 100vh;
    max-height: 100vh;
    box-shadow: $shadow-1;
    transition: flex 0.3s;

    &.smallDetail {
      flex: 0 0 0.001px;
      div {
        display: none
      }
    }

    .i-detail-header {
      background-color: white;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      padding: 16px;
      border-left: 4px solid #43A6F6;
      flex: 0;

      .i-detail-outputdesc {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 12px;
        text-transform: capitalize;
      }

      .i-detail-count {
        color: rgba(0,0,0,0.4);
      }
    }

    .i-detail-content {
      flex: 1;
      padding: 0 16px;
      margin: 8px 0px;
      overflow: scroll;

      .task-title {
        font-weight: bold;
        padding-bottom: 4px;
        display: flex;
        flex-direction: row;

        a {
          flex: 1;
        }

        button {
          border: 0;
          background-color: rgba(0,0,0,0);
          color: $primary;
        }
      }

      .inventory-task {
        margin: 0px -16px;
        padding: 16px;
        border-bottom: 1px solid rgba(0,0,0,0.05);
      }

      .item {
        display: flex;
        flex-direction: row;
        padding: 2px 8px;

        .item-img {
          height: 12px;
          width: 12px;
          display: inline-block;

          img {
            height: 12px;
          }
        }

        &>div>div {
          vertical-align: middle;
          display: inline-block;
          margin-right: 8px;

          span {
            padding-right: 8px;
          }

          .item-qr {
            text-transform: uppercase;
            font-size: 12px;
            color: rgba(0,0,0,0.4)
          }
        }

      }

    }

    .i-detail-footer {
      flex: 0;
      height: 48px;

      button {
        height: 100%;
        width: 100%;
        font-size: 16px;
        font-family: $font-stack;
        background-color: #43A6F6;
        color: white;
        border: none;
      }
    }
  }

  a, a:hover, a:visited, a:-webkit-any-link {
    text-decoration: none;
    color: rgba(0,0,0,0.64);
  }

  .inventoryClass {
    display: flex;
    line-height: 20px;
    padding: 8px 0px; 
    border-bottom: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;


    &.inventoryClass-header {
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(0,0,0,0.3);
    }

    &>div {
      padding-right: 16px; //gutter

      &:last-child {
        padding-right: 0px;
      }
    }


    .i-outputdesc {
      flex: 4
    }
    
    .i-count {
      flex: 1;
    }

    .i-unit {
      flex: 4
    }

    .i-date {
      flex: 2
    }
  }

  .inventoryClass:hover {
    background-color: rgba(5,5,10,0.02);
  }

  .inventoryClass.selected {
    color: #43A6F6;
    font-weight: bold;
  }
}

.unflex {
  flex: 0;
}

.flex {
  flex: 1
}

div.zero-state {
  background-color: rgba(0,0,0,0.05);
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  color: rgba(0,0,0,0.3);

  &.zero-state-clean {
    background-color: white;
  }
}

.page {
    &.mini {
    background-color: white;
    padding: 20px 16px;
    border-radius: 4px;
    box-shadow: $shadow-0;
    margin: 50px auto;
  }
}

.page .page-header {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin-bottom: 20px;

    h2 {
      flex: 1;
      font-size: 16px;
    }

    .filters {
      flex: 0;
      flex-basis: 300px;
    }
  }