$primary: #49A8F3;
$background-color: #FBFCFC;
$light-grey: #eee;
$shadow-0: 0 1px 4px rgba(0,0,0,0.03), 0 1px 3px rgba(0,0,0,0.06);
$shadow-1: 0 1px 4px rgba(0,0,0,0.08), 0 1px 3px rgba(0,0,0,0.12);
$shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$font-stack: "Camphor Pro", Nunito, Overpass, Proxima Nova, sans-serif;
$unit: 10px;

$section-border: 1px solid rgba(0,0,0,0.1);
$sidebar-width: 270px;
$navbar-height: 50px;

$z-index-navbar: 990;
$z-index-dialog: 991;
$z-index-edit-menu: 992;

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body div#root {
	font-family: $font-stack;
	font-size: 13px;
	background-color: $background-color;
}

html, body, #root, .parent, .content-area {
	width: 100%;
  height: 100%;

}

img:before {
  background-image: url(/dashboard/static/dashboard/img/default@3x.png);
}

.parent {
  .content {
		margin: 0 auto;
		max-width:900px;
	}

  display: flex;
  flex: 1;

}

.d-content {
  flex: 1;
  max-height: 100vh;
  overflow: scroll;
}

.d-nav{
  flex: 0 0 13em;
  transition: flex 0.3s;
  border-right: 1px solid #EAEAEA;
}

.pushout {
  width: 32px;
  height: 32px;
  box-shadow: $shadow-1;
  border-radius: 100%;
  position: fixed;
  background-color: white;
  top: 5px;
  left: 8px;
}

.d-nav.littleNav {
  flex: 0 0 16px;
  &>div.bar {
    display: none;
  }
}

.d-ads {
	flex: 0 0 20em;
}

.d-nav {
  /* put the nav on the left */
  order: -1;
  //background-color: #505256;
  height: 100vh;
 	display: flex;
 	flex-direction: column;
 	color: rgba(98,98,98,0.56);

  .bar {
    position: fixed;
    top: 0;
  }

	ul { margin: 0 auto; }

	li {
		list-style-type: none;

		a, a:hover, a:visited {
			display: block;
			line-height: $navbar-height;
			text-decoration: none;
			color: rgba(98,98,98,0.56);
			margin-left: 16px;

			&.active {
				background-color: $primary;
				color: white;
				width: 100%;
				padding-left: 16px;
				margin-left: 0px;

				&, &:hover, &:visited {
					color: white;	
				}
			}
		}
	}

}

i.material-icons {
	color: rgba(0,0,0,0.5);


	&:hover {
		color: blue;
	}

}

.loading {
	display: none;
}

.noresults {
	margin-top: 32px;
	text-align: center;
	span {
		font-size: 18px;
		color: rgba(0,0,0,0.3);
		text-align: middle;
	}

}

div[data-react-toolbox="dropdown"] {

  &>div {
    padding: 0;
  }

  input {
    font-size: 14px;
  }
}

.d-nav div[data-react-toolbox="dropdown"] {
	&>div {
		padding: 0px;
		margin: 0px;
	}

	ul {
		color: rgba(0,0,0,0.6)
	}

	input {
		margin: 0px;
		padding: 0px;
		padding-top: 4px;
		outline: none;
		border: none;
	}
}

.d-nav div[data-react-toolbox="dropdown"] input {
  color: rgba(255,255,255,0.56)
}

.d-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  min-height: 54px;
  background-color: white;
  box-shadow: $shadow-0;
  line-height: 54px;
  display: flex;
  flex-direction: row;
  padding: 0px 16px;

  .nav-brand {
    flex: 1;
  }

  .nav-team {
    text-align: right;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-top: 16px;
    padding-bottom: 16px;
    vertical-align: middle;
    padding-left: 16px;

    i {
      line-height: 24px;
      vertical-align: middle;
      color: rgba(255,255,255,0.56)
    }
  }
}
