@import url("https://fonts.googleapis.com/css?family=Overpass+Mono|Overpass:400,700");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body div#root {
  font-family: "Camphor Pro", Nunito, Overpass, Proxima Nova, sans-serif;
  font-size: 13px;
  background-color: #FBFCFC; }

html, body, #root, .parent, .content-area {
  width: 100%;
  height: 100%; }

img:before {
  background-image: url(/dashboard/static/dashboard/img/default@3x.png); }

.parent {
  display: flex;
  flex: 1; }
  .parent .content {
    margin: 0 auto;
    max-width: 900px; }

.d-content {
  flex: 1;
  max-height: 100vh;
  overflow: scroll; }

.d-nav {
  flex: 0 0 13em;
  transition: flex 0.3s;
  border-right: 1px solid #EAEAEA; }

.pushout {
  width: 32px;
  height: 32px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 100%;
  position: fixed;
  background-color: white;
  top: 5px;
  left: 8px; }

.d-nav.littleNav {
  flex: 0 0 16px; }
  .d-nav.littleNav > div.bar {
    display: none; }

.d-ads {
  flex: 0 0 20em; }

.d-nav {
  /* put the nav on the left */
  order: -1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgba(98, 98, 98, 0.56); }
  .d-nav .bar {
    position: fixed;
    top: 0; }
  .d-nav ul {
    margin: 0 auto; }
  .d-nav li {
    list-style-type: none; }
    .d-nav li a, .d-nav li a:hover, .d-nav li a:visited {
      display: block;
      line-height: 50px;
      text-decoration: none;
      color: rgba(98, 98, 98, 0.56);
      margin-left: 16px; }
      .d-nav li a.active, .d-nav li a:hover.active, .d-nav li a:visited.active {
        background-color: #49A8F3;
        color: white;
        width: 100%;
        padding-left: 16px;
        margin-left: 0px; }
        .d-nav li a.active, .d-nav li a.active:hover, .d-nav li a.active:visited, .d-nav li a:hover.active, .d-nav li a:hover.active:hover, .d-nav li a:hover.active:visited, .d-nav li a:visited.active, .d-nav li a:visited.active:hover, .d-nav li a:visited.active:visited {
          color: white; }

i.material-icons {
  color: rgba(0, 0, 0, 0.5); }
  i.material-icons:hover {
    color: blue; }

.loading {
  display: none; }

.noresults {
  margin-top: 32px;
  text-align: center; }
  .noresults span {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.3);
    text-align: middle; }

div[data-react-toolbox="dropdown"] > div {
  padding: 0; }
div[data-react-toolbox="dropdown"] input {
  font-size: 14px; }

.d-nav div[data-react-toolbox="dropdown"] > div {
  padding: 0px;
  margin: 0px; }
.d-nav div[data-react-toolbox="dropdown"] ul {
  color: rgba(0, 0, 0, 0.6); }
.d-nav div[data-react-toolbox="dropdown"] input {
  margin: 0px;
  padding: 0px;
  padding-top: 4px;
  outline: none;
  border: none; }

.d-nav div[data-react-toolbox="dropdown"] input {
  color: rgba(255, 255, 255, 0.56); }

.d-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  min-height: 54px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03), 0 1px 3px rgba(0, 0, 0, 0.06);
  line-height: 54px;
  display: flex;
  flex-direction: row;
  padding: 0px 16px; }
  .d-top .nav-brand {
    flex: 1; }
  .d-top .nav-team {
    text-align: right;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 16px;
    padding-bottom: 16px;
    vertical-align: middle;
    padding-left: 16px; }
    .d-top .nav-team i {
      line-height: 24px;
      vertical-align: middle;
      color: rgba(255, 255, 255, 0.56); }

.filters {
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .filters > div {
    flex: 2;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px 8px; }
  .filters > div:first-child {
    flex: 3;
    border: none; }

.multiselect {
  margin-bottom: 20px; }
  .multiselect i {
    font-size: 14px;
    line-height: 36px;
    vertical-align: middle;
    margin-left: 8px; }
  .multiselect > div {
    border-left: none; }

.task-select {
  width: 100%;
  display: flex; }
  .task-select i {
    line-height: 34px;
    font-size: 16px;
    padding-right: 8px;
    flex: 0 auto; }
  .task-select input {
    outline: none;
    border: none;
    font-size: 14px;
    line-height: 34px;
    flex: 1 auto; }

.Select-control {
  border: none;
  outline: none;
  border-radius: 0; }

.Select-placeholder {
  padding: 0; }

.dates {
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  font-size: 12px;
  display: inline-flex;
  vertical-align: middle; }
  .dates span, .dates i {
    flex: 1;
    display: inline-block;
    line-height: 34px;
    margin-left: 8px;
    margin-right: 8px; }
  .dates i {
    flex: 0;
    font-size: 20px; }

ul div.menuContentWrapper div.rdr-Days {
  white-space: normal; }

.factorymap {
  margin-top: 50px; }

.processTile {
  fill: white; }

.factorymap text {
  font-size: 0.85em;
  line-height: 50px; }

.connectionTemp {
  fill: #90CAF9; }

.trouble {
  max-width: 500px;
  margin: 0 auto; }
  .trouble h6 {
    text-align: center; }
  .trouble p, .trouble li {
    font-size: 11px; }
  .trouble li {
    margin-bottom: 10px; }

div.labelPrinter {
  padding-top: 50px;
  background-color: #eee; }
  div.labelPrinter .stuff {
    max-width: 300px;
    margin: 0 auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.12);
    padding: 20px;
    background-color: white;
    overflow: hidden; }
  div.labelPrinter input {
    line-height: 34px;
    font-size: 15.2px;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
    div.labelPrinter input:focus {
      outline: none; }
  div.labelPrinter input, div.labelPrinter .multiselect, div.labelPrinter .select {
    margin-bottom: 30px; }
  div.labelPrinter .inputLabel {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6); }
  div.labelPrinter .marginer {
    padding-top: 40px; }
    div.labelPrinter .marginer h2 {
      text-align: center;
      line-height: 48px; }
  div.labelPrinter button {
    padding: 8px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: #49A8F3;
    width: 100%; }
  div.labelPrinter .regularprint {
    max-height: 1000px; }
  div.labelPrinter .small {
    max-height: 0;
    overflow: hidden;
    z-index: 997; }
  div.labelPrinter .reprint {
    margin: -20px;
    padding: 20px;
    background-color: white;
    z-index: 999; }
    div.labelPrinter .reprint:focus {
      outline: none; }
  div.labelPrinter button.expandReprint {
    display: block;
    color: #49A8F3;
    background-color: white;
    font-size: 13px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left; }
    div.labelPrinter button.expandReprint span {
      flex: 1; }
    div.labelPrinter button.expandReprint i {
      text-align: right;
      flex: 0;
      color: #49A8F3;
      font-size: 13px;
      line-height: 16px;
      vertical-align: middle; }
    div.labelPrinter button.expandReprint.expanded i {
      visibility: inherit; }

.labelSVG {
  background-color: white;
  font-family: 'Overpass', 'Overpass Mono'; }

#qrtest {
  width: 100%; }
  #qrtest img {
    margin: 40px auto;
    height: 60px; }

div#blocker, #canvastest {
  position: absolute;
  height: 300px;
  width: 500px;
  background-color: #eee;
  top: 0;
  left: 0; }

div#blocker, #canvastest {
  display: none; }

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
.inventory {
  display: flex; }
  .inventory .inventory-list {
    flex: 1;
    max-width: 900px;
    margin: 0 auto; }
    .inventory .inventory-list h2 {
      font-size: 20px; }
    .inventory .inventory-list.smallDetail {
      max-height: 100vh;
      overflow: scroll; }
  .inventory .inventory-detail {
    flex: 0 0 20em;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    min-height: 100vh;
    max-height: 100vh;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.12);
    transition: flex 0.3s; }
    .inventory .inventory-detail.smallDetail {
      flex: 0 0 0.001px; }
      .inventory .inventory-detail.smallDetail div {
        display: none; }
    .inventory .inventory-detail .i-detail-header {
      background-color: white;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 16px;
      border-left: 4px solid #43A6F6;
      flex: 0; }
      .inventory .inventory-detail .i-detail-header .i-detail-outputdesc {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 12px;
        text-transform: capitalize; }
      .inventory .inventory-detail .i-detail-header .i-detail-count {
        color: rgba(0, 0, 0, 0.4); }
    .inventory .inventory-detail .i-detail-content {
      flex: 1;
      padding: 0 16px;
      margin: 8px 0px;
      overflow: scroll; }
      .inventory .inventory-detail .i-detail-content .task-title {
        font-weight: bold;
        padding-bottom: 4px; }
      .inventory .inventory-detail .i-detail-content .inventory-task {
        margin: 0px -16px;
        padding: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
      .inventory .inventory-detail .i-detail-content .item {
        display: flex;
        flex-direction: row;
        padding: 2px 8px; }
        .inventory .inventory-detail .i-detail-content .item .item-img {
          height: 12px;
          width: 12px;
          display: inline-block; }
          .inventory .inventory-detail .i-detail-content .item .item-img img {
            height: 12px; }
        .inventory .inventory-detail .i-detail-content .item > div > div {
          vertical-align: middle;
          display: inline-block;
          margin-right: 8px; }
          .inventory .inventory-detail .i-detail-content .item > div > div span {
            padding-right: 8px; }
          .inventory .inventory-detail .i-detail-content .item > div > div .item-qr {
            text-transform: uppercase;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.4); }
    .inventory .inventory-detail .i-detail-footer {
      flex: 0;
      height: 48px; }
      .inventory .inventory-detail .i-detail-footer button {
        height: 100%;
        width: 100%;
        font-size: 16px;
        font-family: "Camphor Pro", Nunito, Overpass, Proxima Nova, sans-serif;
        background-color: #43A6F6;
        color: white;
        border: none; }
  .inventory a, .inventory a:hover, .inventory a:visited, .inventory a:-webkit-any-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.64); }
  .inventory .inventoryClass {
    display: flex;
    line-height: 20px;
    padding: 8px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer; }
    .inventory .inventoryClass.inventoryClass-header {
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
    .inventory .inventoryClass > div {
      padding-right: 16px; }
      .inventory .inventoryClass > div:last-child {
        padding-right: 0px; }
    .inventory .inventoryClass .i-outputdesc {
      flex: 4; }
    .inventory .inventoryClass .i-count {
      flex: 1; }
    .inventory .inventoryClass .i-unit {
      flex: 4; }
    .inventory .inventoryClass .i-date {
      flex: 2; }
  .inventory .inventoryClass:hover {
    background-color: rgba(5, 5, 10, 0.02); }
  .inventory .inventoryClass.selected {
    color: #43A6F6;
    font-weight: bold; }

.unflex {
  flex: 0; }

.flex {
  flex: 1; }

div.zero-state {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3); }
  div.zero-state.zero-state-clean {
    background-color: white; }

.page.mini {
  background-color: white;
  padding: 20px 16px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03), 0 1px 3px rgba(0, 0, 0, 0.06); }

.page .page-header {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  margin-bottom: 20px; }
  .page .page-header h2 {
    flex: 1;
    font-size: 16px; }
  .page .page-header .filters {
    flex: 0;
    flex-basis: 300px; }

.task-detail {
  padding: 56px;
  max-width: 900px; }
  .task-detail .task-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row; }
    .task-detail .task-header span:last-child {
      text-align: right;
      vertical-align: baseline;
      flex: 1;
      display: inline-block;
      line-height: 20px;
      padding: 10px 0px; }
    .task-detail .task-header h1:first-child {
      flex: 1; }
    .task-detail .task-header .header-left span {
      font-size: 20px;
      font-weight: bold;
      line-height: 20px;
      padding: 10px 8px;
      vertical-align: middle; }
    .task-detail .task-header .header-left img {
      width: 20px;
      vertical-align: middle; }
  .task-detail .task-content {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    margin: -10px; }
    .task-detail .task-content > div {
      margin: 10px;
      flex: 1; }
  .task-detail .task-attribute-table {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-bottom: 10px; }
    .task-detail .task-attribute-table .task-attribute-table-row {
      cursor: pointer;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding: 10px;
      display: flex;
      flex-direction: row;
      font-size: 12px; }
      .task-detail .task-attribute-table .task-attribute-table-row i {
        font-size: 12px;
        line-height: 12px;
        vertical-align: middle;
        padding-right: 4px; }
      .task-detail .task-attribute-table .task-attribute-table-row span {
        flex: 1;
        display: inline-block;
        line-height: 12px; }
        .task-detail .task-attribute-table .task-attribute-table-row span:last-child {
          text-align: right; }
      .task-detail .task-attribute-table .task-attribute-table-row:last-child {
        border-bottom: none; }
      .task-detail .task-attribute-table .task-attribute-table-row.task-attribute-table-row-header {
        background-color: rgba(0, 0, 0, 0.05); }
      .task-detail .task-attribute-table .task-attribute-table-row.zero-state {
        padding: 16px; }
        .task-detail .task-attribute-table .task-attribute-table-row.zero-state span {
          text-align: center;
          color: rgba(0, 0, 0, 0.4); }
  .task-detail .information-table-title {
    color: rgba(0, 0, 0, 0.3);
    padding-left: 4px;
    text-transform: uppercase; }
  .task-detail .information-table-answer {
    padding-right: 4px;
    text-overflow: ellipsis; }
    .task-detail .information-table-answer.empty-answer {
      color: rgba(0, 0, 0, 0.3); }
  .task-detail div.task-attribute-table-row span.items-qr {
    text-transform: uppercase;
    flex: 4; }
    .task-detail div.task-attribute-table-row span.items-qr button {
      cursor: pointer;
      border: none;
      outline: none;
      box-shadow: none;
      background-color: #49A8F3;
      border-radius: 2px;
      color: white;
      font-size: 10px;
      letter-spacing: 1px;
      margin: 0px 4px;
      visibility: hidden; }
    .task-detail div.task-attribute-table-row span.items-qr button.small-mark-button {
      background-color: rgba(0, 0, 0, 0.07);
      color: rgba(0, 0, 0, 0.3); }
  .task-detail div.output-table-row:hover span.items-qr button {
    visibility: visible; }
  .task-detail .expand-i {
    visibility: hidden;
    padding-left: 4px;
    color: #49A8F3 !important; }
  .task-detail .input-table-row:hover .expand-i {
    visibility: visible; }
  .task-detail .inv-circle {
    height: 8px;
    width: 8px;
    border-radius: 12px;
    background-color: #A0DF88;
    margin-right: 4px;
    display: inline-block;
    vertical-align: baseline; }
  .task-detail .input-count {
    color: rgba(0, 0, 0, 0.3); }
  .task-detail .task-row-header img {
    height: 12px;
    margin-right: 4px; }
  .task-detail .task_button {
    border: none;
    outline: none;
    background-color: white;
    color: #49A8F3; }

a, a:hover, a:visited span {
  color: inherit;
  text-decoration: none; }

.activity {
  display: flex;
  max-width: 900px;
  width: 95%;
  margin: 94px auto;
  flex-direction: column; }
  .activity .activity-process {
    width: 100%;
    background-color: white; }
    .activity .activity-process .no {
      visibility: hidden;
      padding-left: 16px; }
      .activity .activity-process .no a {
        border: none;
        outline: none;
        border-radius: 40px;
        padding: 6px;
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.1);
        font-size: 14px;
        line-height: 14px;
        display: inline-block;
        height: 26px;
        width: 26px; }
        .activity .activity-process .no a i.material-icons {
          font-size: 14px;
          vertical-align: middle; }
    .activity .activity-process.expanded .no, .activity .activity-process.expanded .no a i {
      visibility: visible;
      color: #49A8F3; }
    .activity .activity-process .activity-process-row {
      display: flex;
      flex-direction: row;
      vertical-align: middle;
      color: rgba(0, 0, 0, 0.62);
      cursor: pointer; }
      .activity .activity-process .activity-process-row .no {
        flex: 0; }
      .activity .activity-process .activity-process-row div {
        vertical-align: middle;
        flex: 3;
        text-align: right; }
        .activity .activity-process .activity-process-row div span {
          display: inline-block;
          line-height: 32px;
          vertical-align: middle; }
      .activity .activity-process .activity-process-row div.min {
        flex: 0;
        flex-basis: 32px;
        width: 32px;
        height: 32px;
        margin-right: 8px;
        text-align: center; }
      .activity .activity-process .activity-process-row div.process-name {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.7);
        text-align: left;
        flex: 2; }
      .activity .activity-process .activity-process-row img {
        width: 16px; }
      .activity .activity-process .activity-process-row .tiny {
        flex: 2; }
    .activity .activity-process.expanded {
      background-color: rgba(0, 0, 0, 0.03);
      border-radius: 4px;
      border: none;
      overflow: hidden; }
      .activity .activity-process.expanded .activity-process-header {
        background-color: #49A8F3;
        color: white; }
        .activity .activity-process.expanded .activity-process-header div.process-name {
          color: white; }
    .activity .activity-process .activity-process-header {
      border-top: 1px solid rgba(0, 0, 0, 0.05); }
    .activity .activity-process .process-origin-header, .activity .activity-process .process-origin-header > div:first-child {
      color: rgba(0, 0, 0, 0.8); }
    .activity .activity-process .process-origin-header {
      padding: 6px 16px; }
    .activity .activity-process .process-origin-task {
      padding: 4px 16px; }
      .activity .activity-process .process-origin-task a:hover {
        color: primary; }
    .activity .activity-process .expanded-origin {
      background-color: rgba(0, 0, 0, 0.03); }
      .activity .activity-process .expanded-origin > div:last-child {
        padding-bottom: 12px; }
      .activity .activity-process .expanded-origin .task-list div > span {
        color: rgba(0, 0, 0, 0.4); }
  .activity .arrow {
    vertical-align: middle;
    font-size: 16px;
    line-height: 16px; }
  .activity .min {
    border-radius: 20px; }
    .activity .min.img {
      background-color: white; }
    .activity .min img, .activity .min span {
      vertical-align: middle;
      display: inline-block; }
    .activity .min img {
      margin: 8px auto; }
  .activity .dates {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1); }

.dialog-shim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000; }

.dialog-box {
  margin: 0 auto;
  margin-top: 200px;
  background-color: white;
  max-width: 400px;
  min-width: 400px;
  padding: 16px;
  border-radius: 4px; }
  .dialog-box .dialog-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    display: block; }
  .dialog-box .dialog-text {
    display: block;
    margin: 16px 0px; }
  .dialog-box .dialog-button {
    border: none;
    outline: none;
    background-color: #49A8F3;
    margin-left: 16px;
    color: white;
    font-size: 14px;
    border-radius: 2px;
    padding: 8px 12px; }
  .dialog-box .dialog-cancel {
    color: #49A8F3;
    background-color: white; }
  .dialog-box .dialog-actions {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 16px -16px;
    margin-bottom: -16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }

.deliveries-list {
  width: 400px;
  max-width: 400px;
  padding: 20px; }
  .deliveries-list .deliveries-title {
    font-weight: 700;
    line-height: 40px; }

.delivery {
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0px;
  line-height: 20px; }
  .delivery .delivery-image, .delivery .delivery-meta, .delivery .deliver-content {
    margin-right: 16px; }
  .delivery .delivery-image, .delivery .delivery-meta {
    flex: 0; }
  .delivery .delivery-meta {
    display: flex;
    flex-direction: column; }
  .delivery .delivery-content {
    flex: 1;
    display: flex;
    flex-direction: column; }
  .delivery .delivery-origin {
    font-weight: 700; }
  .delivery .delivery-description {
    color: rgba(0, 0, 0, 0.4); }

.delivery-image {
  min-width: 40px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px; }

.dialog-box .dialog-text .row {
  display: flex;
  flex-direction: row; }

.addgoal-field {
  min-width: 100px;
  flex: 1;
  margin: 10px; }
  .addgoal-field:last-child {
    margin-left: 20px; }
  .addgoal-field div[data-react-toolbox="dropdown"] input {
    font-size: 12px; }

.addgoal-field input[type="text"] {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  outline: none;
  padding: 10px;
  font-size: 12px; }

.goals {
  display: flex;
  max-width: 900px;
  width: 95%;
  margin: 94px auto;
  flex-direction: column; }

.goal span {
  line-height: 24px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5); }
  .goal span.product {
    color: rgba(0, 0, 0, 0.89);
    margin-right: 4px;
    font-weight: bold; }
.goal .goal-whole-bar {
  display: flex;
  flex-direction: row;
  height: 24px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden; }
  .goal .goal-whole-bar .goal-filled-bar {
    height: 100%;
    flex: 80;
    background-color: #49A8F3;
    color: rgba(255, 255, 255, 0.8);
    -webkit-font-smoothing: antialiased; }
  .goal .goal-whole-bar div {
    text-align: right;
    flex: 20;
    padding-right: 8px;
    font-size: 11px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    line-height: 24px; }

/*# sourceMappingURL=styles.css.map */
