*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: Overpass, Proxima Nova, sans-serif;
  font-size: 0.95em;
  background-color: white; }

.navbar {
  background-color: white;
  margin-right: 270px;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-font-smoothing: antialiased;
  position: fixed;
  top: 0;
  z-index: 998; }
  .navbar .content-area {
    display: flex;
    flex-direction: row; }
  .navbar h1 {
    font-weight: normal;
    font-size: 20px;
    line-height: 64px;
    margin: 0px;
    margin-left: 36px; }
  .navbar .nav ul {
    margin: 0; }
  .navbar .nav li {
    display: inline;
    list-style-type: none;
    padding-right: 24px;
    line-height: 64px; }
    .navbar .nav li a, .navbar .nav li a:hover, .navbar .nav li a:visited {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.87); }
  .navbar .active a, .navbar .active a:hover, .navbar .active a:visited {
    color: red; }

html, body, #root, .parent {
  width: 100%;
  height: 100%; }

.parent .content-area {
  height: 100%;
  width: 100%; }
.parent .content {
  padding-top: 64px;
  padding-right: 270px;
  margin-right: 24px;
  margin-left: 24px; }
.parent .sidebar {
  padding-top: 64px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 270px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.02); }

.left {
  flex: 1; }

.right {
  flex-grow: 0; }

.content-descriptor {
  display: flex;
  flex-direction: row; }

i.material-icons {
  color: rgba(0, 0, 0, 0.5); }
  i.material-icons:hover {
    color: blue; }

.card {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.12);
  margin: 24px;
  border-radius: 2px;
  width: 100%;
  background-color: white; }

.card-container {
  padding-bottom: 56px;
  position: relative;
  overflow-x: auto; }

.loading {
  display: none;
  background-color: white;
  width: 100%;
  height: 100%;
  padding-right: 270px;
  position: absolute;
  top: 0; }

.card-container table {
  border-collapse: collapse;
  width: 100%; }
  .card-container table td {
    min-width: 100px;
    line-height: 14px;
    padding: 12px 0px;
    padding-left: 6px; }
    .card-container table td:first-child {
      padding-left: 0px;
      min-width: 200px;
      width: 200px; }
  .card-container table thead {
    font-size: 14px;
    font-weight: 400; }
    .card-container table thead tr {
      border-top: 1px solid rgba(0, 0, 0, 0.03);
      border-color: rgba(0, 0, 0, 0.3); }
  .card-container table tbody td {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px; }
    .card-container table tbody td:first-child {
      font-family: 'Overpass Mono';
      font-weight: 700;
      width: 50px; }
  .card-container table tbody tr {
    border-top: 1px solid rgba(0, 0, 0, 0.03); }
    .card-container table tbody tr:first-child {
      border-color: rgba(0, 0, 0, 0.2); }
    .card-container table tbody tr:last-child {
      border-bottom: 1px solid #eee; }
  .card-container table .zero-cell {
    color: rgba(0, 0, 0, 0.3); }

.toolbar {
  display: flex;
  width: 100%;
  vertical-align: center;
  padding: 30px 0;
  padding-bottom: 24px; }
  .toolbar div.toolbarIcon {
    flex: 0; }
  .toolbar div.toolbarText {
    flex: 1; }
    .toolbar div.toolbarText h1 {
      font-size: 20px;
      line-height: 20px;
      margin: 0; }
    .toolbar div.toolbarText h2 {
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
      margin: 0;
      margin-top: 4px; }

.filters .inputs {
  display: flex;
  flex-direction: column; }
  .filters .inputs .section {
    padding: 12px 24px;
    border-top: 1px solid #eee; }
    .filters .inputs .section .section-content > div {
      margin-bottom: 16px; }
    .filters .inputs .section.inactive > .section-content {
      max-height: 0;
      padding-top: 0px;
      overflow: hidden; }
    .filters .inputs .section.active > .section-content {
      max-height: 999;
      padding-top: 16px;
      overflow: initial; }
    .filters .inputs .section .header {
      cursor: pointer; }
    .filters .inputs .section h2 {
      font-size: 12px;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.87);
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase;
      letter-spacing: 1px; }
    .filters .inputs .section .header i {
      font-size: 16px;
      line-height: 24px;
      display: inline-block;
      vertical-align: middle;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      -o-transition-property: -o-transform;
      transition-property: transform; }
    .filters .inputs .section.active h2 {
      color: #C30017; }
    .filters .inputs .section.active .header i {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
  .filters .inputs h1 {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: normal;
    margin: 4px 0px; }
.filters .multiselect {
  padding-right: 24px; }
  .filters .multiselect:last-child {
    padding-right: 0px; }

.Select-control {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); }

.Select-placeholder {
  padding: 0; }

.dates {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  display: inline-flex;
  vertical-align: middle; }
  .dates span, .dates i {
    flex: 1;
    display: inline-block;
    line-height: 34px;
    margin-left: 8px;
    margin-right: 8px; }
  .dates i {
    flex: 0;
    font-size: 20px; }

ul div.menuContentWrapper div.rdr-Days {
  white-space: normal; }

.factorymap {
  margin-top: 64px; }

.processTile {
  fill: white; }

.factorymap text {
  font-size: 0.85em;
  line-height: 50px; }

.connectionTemp {
  fill: #90CAF9; }

.trouble {
  max-width: 500px;
  margin: 0 auto; }
  .trouble h6 {
    text-align: center; }
  .trouble p, .trouble li {
    font-size: 11px; }
  .trouble li {
    margin-bottom: 10px; }

div.labelPrinter {
  padding-top: 64px;
  background-color: #eee; }
  div.labelPrinter .stuff {
    max-width: 300px;
    margin: 0 auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.12);
    padding: 20px;
    background-color: white;
    max-height: 470px;
    overflow: hidden; }
  div.labelPrinter input {
    line-height: 34px;
    font-size: 15.2px;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
    div.labelPrinter input:focus {
      outline: none; }
  div.labelPrinter input, div.labelPrinter .multiselect, div.labelPrinter .select {
    margin-bottom: 30px; }
  div.labelPrinter .inputLabel {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6); }
  div.labelPrinter .marginer {
    padding-top: 40px; }
    div.labelPrinter .marginer h2 {
      text-align: center;
      line-height: 48px; }
  div.labelPrinter button {
    padding: 8px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: #C30017;
    width: 100%; }
  div.labelPrinter .regularprint {
    max-height: 1000px; }
  div.labelPrinter .small {
    max-height: 0;
    overflow: hidden;
    z-index: 997; }
  div.labelPrinter .reprint {
    margin: -20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.12);
    padding: 20px;
    background-color: white;
    z-index: 999; }
    div.labelPrinter .reprint .expandReprint {
      display: block;
      color: #C30017;
      background-color: white;
      font-size: 13px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      padding-left: 0px;
      padding-right: 0px;
      text-align: left; }
      div.labelPrinter .reprint .expandReprint span {
        flex: 1; }
      div.labelPrinter .reprint .expandReprint i {
        flex: 0;
        color: #C30017;
        visibility: hidden;
        font-size: 13px;
        line-height: 16px;
        vertical-align: middle; }
      div.labelPrinter .reprint .expandReprint:focus {
        outline: none; }
    div.labelPrinter .reprint.expanded i {
      visibility: inherit; }

.labelSVG {
  background-color: white; }

div#blocker, #canvastest {
  position: absolute;
  height: 241px;
  width: 431px;
  background-color: #eee;
  top: 0;
  left: 0; }

.taskDialog .taskDialog-header {
  margin-bottom: 20px; }
  .taskDialog .taskDialog-header h6 {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    line-height: 24px; }
  .taskDialog .taskDialog-header span {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    margin: 0;
    margin-left: 4px;
    font-weight: normal; }
.taskDialog h5 {
  font-size: 12px; }
.taskDialog .attribute span {
  margin-right: 12px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  font-weight: bold; }
.taskDialog .attribute input {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 15px; }
  .taskDialog .attribute input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #eee; }
  .taskDialog .attribute input::-moz-placeholder {
    /* Firefox 19+ */
    color: #eee; }
  .taskDialog .attribute input:-ms-input-placeholder {
    /* IE 10+ */
    color: #eee; }
  .taskDialog .attribute input:-moz-placeholder {
    /* Firefox 18- */
    color: #eee; }

.dialogItem {
  color: rgba(0, 0, 0, 0.4);
  margin: 6px 0;
  font-size: 15px; }
  .dialogItem span {
    color: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    font-size: 11px;
    margin-right: 12px;
    font-weight: bold; }

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

/*# sourceMappingURL=styles.css.map */
