{% extends "dashboard/index.html" %}

{% block content %}

<div class="mdl-grid demo-content">

<div class=" demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing processes">

  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <ul>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Processes
        </span>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" >
          <i class="material-icons">search</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" >
          <i class="material-icons">add</i>
        </button>
      </li>
    </ul>
  </div>

  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <ul id="process-list"></ul>
  </div>

</div>

<div class="demo-cards mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">

  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col test">

    <div class="mdl-card__title mdl-color--deep-purple-500">
      <h2 class="mdl-card__title-text"></h2>
    </div>


    <div class="mdl-card__supporting-text mdl-color-text--grey-600 appendHere"> 

      <div class="processForm"></div>

    </div>

    <div class="mdl-card__actions mdl-card--border" id="attribute-section">

      <ul id="attribute-list-title"><li class="mdl-list__item">
        <span class="mdl-list__item-primary-content attribute-title">
          Attributes
        </span>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored add-attribute" >
          <i class="material-icons">add</i>
        </button>
      </li></ul>

      <div class="" id="attribute-list"></div>

    </div>

    <div class="mdl-card__actions mdl-card--border new-process-actions">
      <button class="mdl-button mdl-js-button mdl-button--colored" style="float:right">
        Create
      </button>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="float:right">
        Cancel
      </button>
    </div>
  </div>

</div>

    
  </div>
</div>

<div id="templates" class="template">

  <li class="mdl-list__item process-list-item template">
    <span class="mdl-list__item-primary-content process-title">
    </span>
  </li>

  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col process-list-item-old template">
    <div class="mdl-card__supporting-text">
      <span class="process-title">Label</span>
    </div>
  </div>

  <div>

  <div class="template attribute-list-item">
    <form name="">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input attribute-title" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Text...</label>
      </div>

      <button class="mdl-button mdl-js-button mdl-button--icon hidden2 done" for="">
        <i class="material-icons">done</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--icon hidden2 cancel" for="">
        <i class="material-icons">close</i>
      </button>

          <button class="mdl-button mdl-js-button mdl-button--icon hidden2 delete-attribute" style="float:right; margin-right:16px;margin-top:16px">
          <i class="material-icons">delete</i>
        </button>
    </form>

    </div>
  </div>

{% endblock %}