.filters.inputs {
	background-color: white;
	border: $section-border;
	border-top: none;
		display: flex;
		flex-direction: column;

		.section {
			padding: 12px 24px;
			border-top: 1px solid $light-grey;

			.section-content {
				& > div {
					margin-bottom: 16px;
				}
			}

			&.inactive > .section-content {
				max-height: 0; 
				padding-top: 0px;
				overflow: hidden;
			}

			&.active > .section-content {
				max-height: 999;
				padding-top: 16px;
				overflow: initial;
			}

			.header {
				cursor: pointer;
			}

			h2 {
				font-size: 12px;
				font-weight: normal;
				color: rgba(0,0,0,0.87);
				margin: 0;
				display: inline-block;
				vertical-align: middle;
				text-transform: uppercase;
				letter-spacing: 1px;
			}

			.header i {
				font-size: 16px;
				line-height: 24px;
				display: inline-block;
				vertical-align: middle;

				-webkit-transition-duration: 0.2s;
			    -moz-transition-duration: 0.2s;
			    -o-transition-duration: 0.2s;
			    transition-duration: 0.2s;

				-webkit-transition-property: -webkit-transform;
				-moz-transition-property: -moz-transform;
				-o-transition-property: -o-transform;
				transition-property: transform;
			}

			&.active {
				h2 { color: $primary; }
				.header i {
					-webkit-transform: rotate(90deg);
    				-moz-transform: rotate(90deg);
    				-ms-transform: rotate(90deg);
    				-o-transform: rotate(90deg);
    				transform: rotate(90deg);
				}

			}
		}
	


		h1 {
			font-size: 13px;
			color: rgba(0,0,0,0.4);
			font-weight: normal;
			margin: 4px 0px;
		}

	}

	.multiselect {
		padding-right: 24px;

		&:last-child {
			padding-right: 0px;
		}

}

.Select-control {
	border: none;
	border-radius: 0;
	border-bottom: 2px solid rgba(0,0,0,0.1);
}

.Select-placeholder {
	padding: 0;
}

.dates {
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,0.2);
	color: rgba(0,0,0,0.87);
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: white;

	span, i {
		flex: 1;
		display: inline-block;
		line-height: 34px;
		margin-left: 8px;
		margin-right: 8px;
	}

	i {
		flex: 0;
		font-size: 20px;
	}

	display:inline-flex;
	vertical-align: middle;
}


ul div.menuContentWrapper div.rdr-Days {
	white-space: normal;
}