.filters {
	background-color: white;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	border: 1px solid rgba(0,0,0,0.1);

	&>div {
		flex: 2;
		border-left: 1px solid rgba(0,0,0,0.1);
		padding: 0px 8px;
	}

	&>div:first-child {
		flex: 3;
		border: none;
	}
}

.multiselect {
	margin-bottom: 20px;

	i {
		font-size: 14px;
		line-height: 36px;
		vertical-align: middle;
		margin-left: 8px;
	}

	&>div {
		border-left: none;
	}
}


.task-select, {
	width: 100%;
	display: flex;

	i {
		line-height: 34px;
		font-size: 16px;
		padding-right: 8px;
		flex: 0 auto;
	}

	input {
		outline: none;
		border: none;
		font-size: 14px;
		line-height: 34px;
		flex: 1 auto;
	}
}

.Select-control {
	border: none;
	outline: none;
	border-radius: 0;
}

.Select-placeholder {
	padding: 0;
}

.dates {
	border-radius: 4px;
	color: rgba(0,0,0,0.87);
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: white;
	font-size: 12px;

	span, i {
		flex: 1;
		display: inline-block;
		line-height: 34px;
		margin-left: 8px;
		margin-right: 8px;
	}

	i {
		flex: 0;
		font-size: 20px;
	}

	display:inline-flex;
	vertical-align: middle;
}


ul div.menuContentWrapper div.rdr-Days {
	white-space: normal;
}