$primary: #49A8F3;
$background-color: #ffffff;
$light-grey: #eee;
$shadow-1: 0 1px 4px rgba(0,0,0,0.08), 0 1px 3px rgba(0,0,0,0.12);
$shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$font-stack: Nunito, Overpass, Proxima Nova, sans-serif;
$unit: 10px;

$section-border: 1px solid rgba(0,0,0,0.1);
$sidebar-width: 270px;
$navbar-height: 50px;

$z-index-navbar: 990;
$z-index-dialog: 991;
$z-index-edit-menu: 992;

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body div#root {
	font-family: $font-stack;
	font-size: 14px;
	background-color: $background-color;
}

html, body, #root, .parent, .content-area {
	width: 100%;
  height: 100%;

}

.parent {
  .content {
		margin: 0 auto;
		max-width:900px;
	}

  display: flex;
  flex: 1;

}

.d-content {
  flex: 1;
  max-height: 100vh;
  overflow: scroll;
}

.d-nav{
  flex: 0 0 13em;
  box-shadow: $shadow-1;
  transition: flex 0.3s
}

.pushout {
  width: 32px;
  height: 32px;
  box-shadow: $shadow-1;
  border-radius: 100%;
  position: fixed;
  background-color: white;
  top: 5px;
  left: 8px;
}

.d-nav.littleNav {
  flex: 0 0 16px;
  &>div.bar {
    display: none;
  }
}

.d-ads {
	display: none;
}

.d-nav {
  /* put the nav on the left */
  order: -1;
  background-color: #505256;
  height: 100vh;
 	display: flex;
 	flex-direction: column;
 	color: rgba(255,255,255,0.56);

 	.nav-team {
 		border-bottom: 1px solid rgba(255,255,255,0.1);
 		padding-top: 16px;
 		padding-bottom: 16px;
 	  vertical-align: middle;
 	  padding-left: 16px;

 		i {
 			line-height: 24px;
 			vertical-align: middle;
 			color: rgba(255,255,255,0.56)
 		}
 	}

 	.nav-brand {
 		padding-top: 16px;
 		color: rgba(255,255,255,1);
 		font-size: 1.5em;
 		padding-left: 16px;
 	}

	ul { margin: 0 auto; }

	li {
		list-style-type: none;

		a, a:hover, a:visited {
			display: block;
			line-height: $navbar-height;
			text-decoration: none;
			color: rgba(255,255,255,0.56);
			margin-left: 16px;

			&.active {
				background-color: $primary;
				color: white;
				width: 100%;
				padding-left: 16px;
				margin-left: 0px;

				&, &:hover, &:visited {
					color: white;	
				}
			}
		}
	}

}

.content-descriptor {
	display: flex;
	flex-direction: row
}


//----



i.material-icons {
	color: rgba(0,0,0,0.5);


	&:hover {
		color: blue;
	}

}

.card {
	box-shadow: $shadow-1;
	margin: 24px;
	border-radius: 2px;
	width: 100%;
	background-color: white;
}

.card-container {
	padding-bottom: 56px;
	position: relative;
	overflow-x: auto;
}

.loading {
	display: none;
	//background-color: $background-color;
}

.noresults {
	margin-top: 32px;
	text-align: center;
	span {
		font-size: 18px;
		color: rgba(0,0,0,0.3);
		text-align: middle;
	}

}

div[data-react-toolbox="dropdown"] {
	&>div {
		padding: 0px;
		margin: 0px;
	}

	ul {
		color: rgba(0,0,0,0.6)
	}

	input {
		margin: 0px;
		padding: 0px;
		padding-top: 4px;
		color: rgba(255,255,255, 0.56);
		font-size: 14px;
		outline: none;
		border: none;
	}

}
