$table-border: 1px solid rgba(0,0,0,0.03);
$pink: rgb(255,82,82);

.card-container table {

	border-collapse:collapse;
	width: calc(100% - 64px);
	box-sizing: border-box;

	td {
		min-width: 100px;
		line-height: 14px;
		width: 84px;
		padding: 12px 0px;
		box-sizing: border-box;
		cursor: pointer;

		span {
			display: block;
			margin: 0px 16px;
			box-sizing: border-box;
			white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
		}

		&:first-child {
			padding-left: 0px;
			min-width: 192px;
			width: 200px;
		}

		&:last-child {
			padding-right: 0px;
			width: 92px;
		}

		&.notes span {
			width: 240px;
			min-width: 240px;
		}

		&.operator span {
			min-width: 80px;
			width: 80px;
		}

		&.outputs span {
			min-width: 100px;
			width: 100px;
		}
	}

	thead {
		font-size: 14px;
		color: rgba(0,0,0,0.4);
		font-weight:400;

		tr {
			border-color: rgba(0,0,0,0.3);
		}
	}

	tbody td {
		color: rgba(0,0,0,0.87);
		font-size:14px;


		&:first-child {
			//font-family: 'Overpass Mono';
			letter-spacing: 1px;
			font-weight: 700;
			width: 50px;
		}
	}

	tbody tr {
		// add a border to the the top of every row
		border-top: $table-border;

		// add a darker border to the top of the top row
		&:first-child {
			border-color: rgba(0,0,0,0.1);
		}

		&:last-child {
			border-bottom: 1px solid #eee;
		}
	}

	.zero-cell {
		color: rgba(0,0,0,0.3);
	}
}

.toolbar {
	display: flex;
	width: 100%;
	//padding: 16px 24px;
	vertical-align: center;
	padding: 30px 0;
	padding-bottom: 24px;

	div.toolbarIcon {
		flex: 0 auto;
	}

	div.toolbarText {
		span.title {
			font-size: 20px;
			line-height: 20px;
			margin: 0
		}

		span.detail {
			font-size: 14px;
			line-height: 14px;
			font-weight: normal;
			margin: 0;
			margin-left: 8px;
			margin-top: 4px;
			color: rgba(0,0,0,0.3);
		}

		flex: 1 auto;
	}
}