$medium-grey: rgb(150,163,182);
$dark-grey: rgba(0,0,0,0.87);

body {
	-webkit-font-smoothing: antialiased;
}

div[data-react-toolbox=dialog] {
	width: 40vw; 
	max-width: 400px;
	z-index: $z-index-dialog;

	section {
		margin: 0;
		padding: 0;
		padding-bottom: 24px;
	}

	.taskDialog .toolbar, .taskDialog .taskDialog-body {
		padding-left: 24px;
		padding-right: 24px;
	}

	.taskDialog .taskDialog-body {
		padding: 18px;
		padding-top: 0px;
		overflow-y: scroll;
		height: 250px;
	}

	.taskDialog .toolbar {
		padding-bottom: 4px;
	}
}

.taskDialog {

	.toolbar h1 {
		color: black;
		span {
			font-size: 14px;
			color: $medium-grey;
			-webkit-font-smoothing: antialiased;
			font-weight: normal;
			margin-left: 6px;
		}

	}

	.attribute {

		input {
			border: none;
			border-radius: 0;
			border-bottom: 2px solid rgba(0,0,0,0.1);
			font-size: 15px;
			color: $medium-grey;
			-webkit-font-smoothing: antialiased;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $light-grey;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: $light-grey;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: $light-grey;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: $light-grey;
			}
		}
	}
}

.dialogItem, .attribute {
	color: $medium-grey;
	-webkit-font-smoothing: antialiased;
	margin: 6px 0;
	font-size: 15px;
	line-height: 24px;

	i {
		font-size: 15px;
		line-height: 24px;
		margin-left: 8px;
	}


	span.attributeTitle {
		color: $dark-grey;
		font-size: 11px;
		margin-right: 8px;
	}
}

div[data-react-toolbox=menu] {
	z-index: $z-index-edit-menu;
	ul {
		margin: 0;
		padding: 0;

		div.menuContentWrapper {
			padding: 12px;
		}
	}

	input {
		line-height: 24px;
		font-size: 15px;
		border: 0;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		margin-bottom: 8px;

		&:focus {
			outline: none;
		}
	}

	button {
		border-radius: 2px;
		color: $medium-grey;
		background-color: white;
		border: 1px solid $medium-grey;
		margin-right: 8px	
	}
}